<form class="hide-me" id="<%=book.isbn%>" action="<%= formAction %>" method="post">

<input type="hidden" name="_method" value="<%= method %>" required>
<input type="text" name="title" value="<%= book.title %>" placeholder= "Book Title" required>
<input type="text" name="author" value="<%= book.author %>" placeholder="Author" required>
<textarea name="description" placeholder="Description" cols="30" rows="10" required><%= book.description %></textarea>
<input type="text" name="image_url" value="<%= book.image_url %>" placeholder="Image URL" required>
<input type="text" name="isbn" value="<%= book.isbn %>" placeholder="isbn" required>

<% if (method === 'post') { %>
    <input type="text" name="bookshelf" placeholder="Bookshelf" required>
<% } else { %>
    <select name="bookshelf_id">
        <% bookshelves.forEach((element) => { %>
        <option value="<%= element.id %>"<%= element.id === book.bookshelf_id ? 'selected' : ''%>>
            <%= element.name %></option>
        <% }); %>
    </select>
<% } %>
<button type='submit'><%= buttonText %></button>
</form>