<% include ../partials/header.ejs %>
  <body>
    <% include ../partials/nav-bar.ejs %>
    <main>
      <h3>Results of your search:</h3>
      <div class="container">
        <% mapResults.forEach((book) => { %>
          <div class="eachBook">
            <%- include('./books/show', {book}); %>
            <p><%= book.description %></p>
            <button type="button" class="selectBook" data-isbn="<%= book.isbn %>">
              Select This Book
            </button>
            <form class="hide-me" id="<%= book.isbn %>" method="post" action="/books">
              <input type="text" name="title" value="<%= book.title %>" required>
              <input type="text" name="author" value="<%= book.author %>" required>
              <input type="text" name="image_url" value="<%= book.image_url %>" required>
              <textarea name="description" cols="30" rows="10" required><%= book.description %></textarea>
              <input type="text" name="isbn" value="<%= book.isbn %>" required>
              <input type="text" name="bookshelf" required>
              <button type="submit">Add to Database</button>
            </form>
          </div> 
        <% }) %>
      </div>   
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>